################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorAdminPanel/DesignTimeBuild/.dtbcache.v2
/.vs/BlazorAdminPanel/FileContentIndex/3fd51bd7-316c-4395-a52d-6fc7a0626fbb.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/455b2c47-282a-4fd5-8c43-12a5c0279ac6.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/5b12fd01-0c3b-45b8-8000-9bb93bb87aa5.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/6f7673c2-5818-47bd-92df-87262121f486.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/84809351-940e-43f2-954c-8e5471720946.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/974034c7-ac58-4d2c-b3ce-15f0ad0b1791.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/bd88b86a-5195-4b28-8521-f053aa6a1cbf.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/d6d74369-e38c-465d-8265-5d67d7a35142.vsidx
/.vs/BlazorAdminPanel/v17/.suo
/.vs/BlazorAdminPanel/FileContentIndex/d7b1dcf9-42ed-41b0-aaff-7f28f14c66c2.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/
/.vs/BlazorAdminPanel/v17/.suo
/.vs/Masleshov/v17/.wsuo
/.vs/BlazorAdminPanel/DesignTimeBuild/.dtbcache.v2
/.vs/BlazorAdminPanel/config/applicationhost.config
/.vs/BlazorAdminPanel/FileContentIndex/5b12fd01-0c3b-45b8-8000-9bb93bb87aa5.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/84809351-940e-43f2-954c-8e5471720946.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/bd88b86a-5195-4b28-8521-f053aa6a1cbf.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/d6d74369-e38c-465d-8265-5d67d7a35142.vsidx
/.vs/BlazorAdminPanel/v17/.suo
/.vs/BlazorAdminPanel/DesignTimeBuild/.dtbcache.v2
/.vs/BlazorAdminPanel/v17/.suo
/.vs/BlazorAdminPanel/FileContentIndex/5b12fd01-0c3b-45b8-8000-9bb93bb87aa5.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/84809351-940e-43f2-954c-8e5471720946.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/bd88b86a-5195-4b28-8521-f053aa6a1cbf.vsidx
/.vs/BlazorAdminPanel/FileContentIndex/d6d74369-e38c-465d-8265-5d67d7a35142.vsidx
